.header-control {
    /* background-image: url('../../assets/DickBackground.png'); */
    /* background-color: #172A55; */
    /* this can be changed to header-back or dickbackground */
    /* background-color: white; */
    background-image: url("../../assets/toiletbackground.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 120px;
    background-repeat: repeat;
    background-size: cover;
    background-position: 50% 100%;
}

.header-control .navbar {
    width: 60%;
    background-color: white;
    margin-top: 0px;
    padding-top: 0px;
    border-radius: 20px;
    border: 10px solid darkcyan;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    transition-duration: .4s;
    color: black !important;
    font-size: 25px;
    font-weight: 700;
    font-family: newerfont;
    background: -webkit-linear-gradient(black, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-duration: .4s;
}

@font-face {
    font-family: newerfont;
    src: url(/src/StrangerThings-Regular.ttf);
}

.navbar-nav .nav-link:hover {
    transition-duration: .4s;
    color: #88CDDB !important;
    background: -webkit-linear-gradient(#68c2c5, #68c2c5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-duration: .4s;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@font-face {
    font-family: newfont;
    src: url(/src/ReporterRegular.ttf);
}

.header-content h1 {
    font-size: 51px;
    font-family: newfont;
    color: black;
    /* font-style: italic; */
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 900;
    text-align: center;
    /* background-color: #6D3612; */
    /* padding: 25px; */
    /* border: solid 10px black;
    border-radius: 20px; */
}

.header-nav {
    position: absolute;
    top: 20px;
    max-width: 1200px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    margin-right: 20px;
    color: rgb(184, 40, 40);
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

.nav-item :hover {
    color: blue;
}

.thePicture {
    height: 0px;
    border-radius: 0px;
    padding: 0px;
    background-color: #FF9859;
    box-shadow: 0px 0px 50px #68c2c5;
}

@media (min-width: 767px) {
    .header-control {
        background-color: white;
        /* this can be changed to header-back or dickbackground */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: 550px;
        background-repeat: none;
        padding-top: 50px;
    }

    .thePicture {
        height: 258px;
        width: 1400px;
        border: 10px solid darkcyan;
        border-radius: 20px;
        background-color: #a14912;
        box-shadow: 0px 0px 10px #68c2c5;
    }

    .header-control .navbar {
        width: 70%;
        background-image: url(../../assets/btile.png); 
        background-size: cover;
        border: 10px solid darkcyan;
        margin-top: 0px;
        padding-top: 0px;
        border-radius: 20px;
    }
}